<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body>
    <style>
        * {
            font-family: 'Courier Prime', monospace;
        }

        p {
            font-size: 12px;
        }

        .center {
            text-align: center;
        }

        table {
            font-size: 12px;
        }
    </style>
    <div class="center">
        <img src="https://i.ibb.co/yXDNP9G/Dr-Burger-CBGW.png" width="80px" alt="">
        <p>DR. BURGER</p>
        <p>"SU RECETA PARA EL HAMBRE"</p>
        <p>De: Stephanie Anai Romero López</p>
        <p>R.T.N {{rtnVALOR}}</p>
        <p>Cel: {{celularValor}}</p>
        <p>E-mail: {{correoValor}}</p>
        <p>B° Mercedes Casa No. 53, Contiguo a Ferretería Pineda, <br> Gracias, Lempira.</p>
    </div>
    
    <p>Factura {{facturaMapped.NUM_FACTURA}}</p>

    <p>CAI: {{facturaMapped.CAI}}</p>
    <p>Rango autorizado:</p>
    <p>{{facturaMapped.RANGO_MINIMO}} a {{facturaMapped.RANGO_MAXIMO}}</p>
    <p>Fecha límite de emisión: {{facturaMapped.FECHA_LIMITE_EMISION}}</p>

    <br>
    <p>Cliente: {{facturaMapped.NOMBRE}}</p>
    <p>RTN: {{facturaMapped.RTN_CLIENTE}}</p>
    <p>Dirección: {{facturaMapped.DIRECCION}}</p>
    <p>Datos de Adquiriente Exonerado</p>
    <p>Orden de Compra Exenta # {{facturaMapped.ORDEN_COMPRA_EXENTA}}</p>
    <p>Const. Reg. de Exonerados # {{facturaMapped.CONSTANCIA_REGISTRO_EXONERADO}}</p>
    <p>No. Reg. S. A. G. {{facturaMapped.NUMERO_REGISTROS_SAG}}</p>
    <br>
    <p style="text-align: center;">Detalle del pedido</p>
    <table>
        <tr>
            <th>Descripción</th>
            <th>Cant x Precio</th>
            <th>Gravada</th>
        </tr>

        <hr>

        {{#each detalle}}

        <tr>
            <td style="text-align: center;">
                {{NOMBRE_PRODUCTO}} 
            </td>
            
            <td style="text-align: center;">
                {{CANTIDAD}} x {{PRECIO_DETALLE}}
            </td>
            <td style="text-align: right;">
                {{PRECIO_DETALLE}}
            </td>

        </tr>
        {{/each}}
        <tr>
            <td style="text-align: right;" colspan="2">
                <hr>
            </td>
            <td>
                <hr>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">Descuento y Rebajas Otorgadas</td>
            <td style="text-align: right;">{{facturaMapped.DESCUENTO_REBAJAS}}</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">V. Exenta L.</td>
            <td style="text-align: right;">{{facturaMapped.VENTA_EXENTA}}</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">V. Gravada L.</td>
            <td style="text-align: right;">{{facturaMapped.VENTA_GRAVADA}}</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">Exonerado L.</td>
            <td style="text-align: right;">{{facturaMapped.EXONERADO}}</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">15% ISV L.</td>
            <td style="text-align: right;">{{facturaMapped.ISV}}</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">18% ISV L.</td>
            <td style="text-align: right;">{{facturaMapped.IMPUESTO_SOBRE_BEBIDAS_Y_ALCOHOL}}</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">Subtotal L.</td>
            <td style="text-align: right;">{{facturaMapped.SUBTOTAL}}</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">Total L.</td>
            <td style="text-align: right;">{{facturaMapped.TOTAL}}</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">
                <hr>
            </td>
            <td><hr></td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">{{facturaMapped.FORMA_PAGO}} L.</td>
            <td style="text-align: right;">{{facturaMapped.RECIBIDO}}</td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">
                <hr>
            </td>
            <td><hr></td>
        </tr>
        <tr>
            <td style="text-align: right;" colspan="2">CAMBIO L.</td>
            <td style="text-align: right;">{{facturaMapped.CAMBIO}}</td>
        </tr>
        
    </table>

    <p style="text-align: center;"><b>{{totalLetra}}</b></p>

    <br>
    <hr style="padding-bottom: 0px; margin-bottom: 0px;">
    <p style="text-align: center;">Firma</p>


</body>

</html>